body{
    margin: 0;
    padding: 0;
}
section{
    background-color: black;
    min-height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

section::before{
    background: linear-gradient(90deg, pink, white);
    height: 240px;
    width: 240px;
    content: "";
    position: absolute;
    border-radius:50%;
    transform: translate(-150px,-100px);
}

section::after{
    background: linear-gradient(90deg, pink, white);
    height: 240px;
    width: 240px;
    content: "";
    position: absolute;
    border-radius:50%;
    transform: translate(150px,100px);
}


.MASTER-CARD{
    background-color:rgba(255,255,255,0.1);
    height:250px;
    width: 350px;
    position: relative;

    border-radius: 20px;
    backdrop-filter: blur(10px);
}
.card-face{
    height: 100%;
    width: 100%;
    transform-style: preserve-3d;
    position: absolute;
    backdrop-filter: blur(10px);
    transition: all .5s ease;
}

.card-face:hover{
    transform: rotateY(180deg);
}

.front-face{
    height: 100%;
    width: 100%;
    position: absolute;
    backface-visibility: hidden;
}

.back-face{
    height: 100%;
    width: 100%;
    position: absolute;
    backface-visibility: hidden;
    transform: rotateY(180deg);
    color: black;
}